<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/vue.js"></script>
</head>
<body>
    <div id="app">
        <div>我的姓是：<input type="text" v-model="name"></div>
        <div>我的名是：<input type="text" v-model="names"></div>
        <div>我的姓名是：<input type="text" v-model="username" @input="change"></div>
        <p>{{handle()}}</p>
    </div>


    <script>
        new Vue({
            el: "#app",
            data: {
                name: "王",
                names: '五',
                username: ''
            },
            methods: {
                handle(){
                    this.username = this.name + '-' + this.names
                },
                change(){
                    let arr = this.username.split('-')
                    this.name = arr[0]
                    this.names = arr[1]
                }
            }
        })
    </script>

    <script>
        // new Vue({
        //     el: "#app",
        //     data: {
        //         name: "王",
        //         names: '五',
        //         username: ''
        //     },
        //     methods: {
        //         handle(){
        //             this.username = this.name + '-' + this.names
        //         },
        //         change(){
        //             let arr = this.username.split('-')
        //             this.name = arr[0]
        //             this.names = arr[1]
        //         }
        //     }
        // })
    </script>

    <script>
        // new Vue({
        //     el: "#app",
        //     data: {
        //         name: "王",
        //         names: '五',
        //         username: ''
        //     },
        //     methods: {
        //         handle(){
        //             this.username = this.name + '-' + this.names
        //         },
        //         change(){
        //             let arr = this.username.split('-')
        //             this.name = arr[0]
        //             this.names = arr[1]
        //         }
        //     }
        // })
    </script>
</body>
</html>